.area3d{
    flex-grow: 2;
    width: 60%;
    position: relative;
}


.button-meta { 
    font-size: large;
    left: 10px;
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 32px;
    transition: all ease-out .1s;
}


.button-meta:hover{
    animation: infinite;
    animation-name: wiggle;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}


.delete-button{
    bottom: 10px;
    color: red;
}

.delete-button:hover{
    color: darkred;
}

